body{
    margin: 0;
    padding: 0;
}
#mycv-container{
    width: 100%;
}
#mycv-container header{
    top: 10;
    position: fixed;
    left: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    box-shadow: #f4ecec 1px 1px;
}
#mycv-container header nav{
    height: 10vh;
    width: 100%;
    background-color: #777;
}
#mycv-container header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
#mycv-container header nav ul a{
    text-decoration: none ;
    font-size: 16px;
    text-transform: uppercase;
    color: aliceblue;
    border-top: solid 1px rgb(228, 23, 217);
    transition: all .3s ease-in;
    height: 30px;
}
#mycv-container header nav ul a:hover{
    color: blue;
    border-top: none;
    border-bottom: solid 2px rgb(16, 230, 165);
}
#mycv-container header h2{
    color: skyblue;
    font-size: 27px;
    background-color: #777;
    height: 10vh;
    margin-top: 0;
}
#mycv-container header h2 span{
    color: red;
    font-weight: lighter;
}
#mycv-container main{
    position: absolute;
    margin-top: 5vh;
}
@media only screen and (max-width:768px){
    #mycv-container{
        width: 100%;
    }
    #mycv-container header{
        top: 10;
        position: fixed;
        left: 10;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5vh;
        box-shadow: #f4ecec 1px 1px;
    }
    #mycv-container header nav{
        height: 5vh;
        width: 100%;
        background-color: #777;
    }
    #mycv-container header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    #mycv-container header nav ul a{
        text-decoration: none ;
        font-size: 12px;
        text-transform: uppercase;
        color: aliceblue;
        border-top: solid 1px rgb(228, 23, 217);
        transition: all .3s ease-in;
    }
    #mycv-container header nav ul a:hover{
        color: blue;
        border-top: none;
        border-bottom: solid 1px rgb(16, 230, 165);
    }
    #mycv-container header h2{
        color: skyblue;
        font-size: 27px;
        background-color: #777;
        height: 5vh;
        margin-top: 0;
    }
    #mycv-container header h2 span{
        color: red;
        font-weight: lighter;
    }
}